<div class="panel-header panel-header-sm">
  
</div>

<div class="main-content">
  
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
       <!-- <h5 class="card-category">demande  de conge</h5> -->
            <div class="d-flex justify-content-between" >
              <h4 class="card-title">Add user</h4>
           
              
            <td class="text-right">
  
              <span  [routerLink]="['/admin/role/addrole']"  class="badge badge" style="color: #ff3636;cursor: pointer;" >add new role..</span>

          </td>
              </div>
            </div>
        <div class="card-body">
       
            <div *ngIf="show_initialLoader" class="d-flex justify-content-center" >
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
          </div>
        
          <form [formGroup]="userFom" *ngIf="!show_initialLoader" >
 
            <div class="row">
              <div class="col-md-6">
                
            <label>email</label>
                 
                      <div class="form-group">
                        <input  formControlName="email"  class="form-control " placeholder="email"
                            type="email" >
                      </div>
          
               
              </div>
              
              <div class="col-md-6">
                  <label>password</label>
                  <div class="form-group">
                      <input  formControlName="password"  class="form-control " placeholder="password"
                          type="password" >
                    </div>

              </div>
        </div> 
          <div class="row" formArrayName="roles">
            <div class="col-6 " *ngFor="let role of roles.controls; let i =index " >
              <div class=" d-flex justify-content-between" style="align-items: center;"   [formGroup]="role">
           
                <select  formControlName="id"  name="dropdownOption" id="dropdownOption" class='form-control'  (ngModelChange)="onChange($event)">
              
                <option *ngFor="let role of Listrole" [value]="role.id" >{{role.nom}}</option>
                  
                </select>
            
              </div>        
          </div>
          </div>


               <div class="col-md-4 pull-right  " >
            <button (click)="send()" class="btn btn-block btn-round" [disabled]="this.userFom.invalid || show_submitLoader" style="background-color: #ff3636;">
         
                <div *ngIf="show_submitLoader" id="spinner" class="spinner-border float-right clearfix" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            
              send</button>
              
          </div>
     
        </form>
        
        </div>

       
    
      </div>
    </div>





    <div class="col-md-4" *ngIf="showdetail">
      <div class="card">
        <div class="card-header">
       <!-- <h5 class="card-category">demande  de conge</h5> -->
            <div class="d-flex justify-content-between" >
              <h4 class="card-title " style="font-size: 15px ;">Role Details</h4>
<!--      
              <td class="text-right">
  
                <span   class="badge badge" style="color: #ff3636;cursor: pointer;" >close..</span>
  
            </td> -->
              </div>
            </div>
        <div class="card-body">
       
            <div *ngIf="initloading" class="d-flex justify-content-center" >
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
          </div>
        
      
 
            <div class="row" >
             <div class="col-md-6">    
            <label>nom:</label>
           <span _ngcontent-c2="" class="badge badge-default">     {{roleselected.nom}}</span>
            </div>
              
            
        </div>
        
        <div class="row" >
          <div class="col-md-6">    
         <label>niveau:</label>
        <span _ngcontent-c2="" class="badge badge-default">     {{roleselected.niveau}}</span>
         </div>
           
        </div>
        <div class="row" >
          <div class="col-md-6">    
         <label>groupe:</label>
        <span class="badge badge-info " style="border-radius: 45px;" >{{roleselected.groupe.nom}}</span>
      
         </div>
           
     </div>
     <div class="row" >
      <div class="col-md-12">    
     <label>permission:</label>
     <div *ngFor="let permision of roleselected.permissions" >
    <span  class="badge badge-success " style="border-radius: 45px;" >{{permision.nom}}</span>
  </div>
     </div>
       
 </div>
        
        
        

       
    
      </div>
    </div>
    </div>

</div>



    